<div id="StickyCart" class="sticky-cart{% if cart.item_count > 0 and template != 'cart' %} sticky-cart--open{% endif %}">
  <form action="{{ routes.cart_url }}" method="post" novalidate class="sticky-cart__inner">
    {%- unless template == 'cart' -%}
      <a href="{{ routes.cart_url }}" id="StickyItems" class="sticky-cart__item">{{ 'cart.general.item_count' | t: count: cart.item_count }}</a>
      <span id="StickySubtotal" class="sticky-cart__item">{{ cart.total_price | money }}</span>
    {%- endunless -%}
    <button
      type="submit" name="checkout"
      id="StickySubmit"
      class="btn sticky-cart__item">
      <span>{{ 'cart.general.checkout' | t }}</span>
    </button>
  </form>
</div>
