{%- liquid
  assign overlap_images = true
  unless section.settings.overlap-images == false
    if section.settings.image != blank and section.settings.image2 == blank
      assign overlap_images = false
    endif
  endunless
-%}

<div class="index-section how-sprinly-works {% if section.settings.alt %} index-section--alt{% endif %} section-{{ section.id }}">

  <div class="feature-row-wrapper page-width-lg">
    {%- capture image_layout -%}
      <div class="feature-row__item first-image-container {% if overlap_images %} feature-row__item--overlap-images{% endif %}" data-aos>
        {%- if section.settings.image != blank -%}
          <div class="image_container_1">
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
              <div class="image-wrap image_1" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="feature-row__image lazyload"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 750, 900, 1080]"
                     data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ section.settings.image.alt }}">
              </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
          </div>
        {%- endif -%}
        {%- if section.settings.image2 != blank -%}
          <div class="image_container_2">
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
              <div class="image-wrap image_2" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image2.aspect_ratio }}%;">
                {%- assign img_url = section.settings.image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="feature-row__image lazyload"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 750, 900, 1080]"
                     data-aspectratio="{{ section.settings.image2.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ section.settings.image2.alt }}">
              </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
          </div>
        {%- endif -%}
        {%- if section.settings.image == blank and section.settings.image2 == blank and section.settings.background_image == blank -%}
          <div>
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
          <div>
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="feature-row {% if section.settings.image2 == blank %}one-image{% endif %}">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} hsw-content-container" data-aos>
        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <div class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {% for block in section.blocks %}
          <div class="how-sprinly-steps appear-delay">
            <div class="image-container">
              <img class="lazyload"
                   src="{{ block.settings.image | img_url: '400x' }}"
                   data-src="{{ block.settings.image | img_url: '400x' }}"
                   data-sizes="auto"
                   alt="{{ block.settings.image.alt }}">
            </div>
            <div class="content">
              <h2>{{ block.settings.title }}</h2>
              <p>{{ block.settings.paragraph }}</p>

            </div>
          </div>
        {% endfor %}
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %} hsw-button-container">
            <a href="{{ section.settings.button_link }}" class="btn">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}

      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>

</div>

{% if section.settings.background_image != blank %}
  {%- assign background_img_url = section.settings.background_image -%}
  <style>
    .section-{{ section.id }} .feature-row-wrapper {
      background-image: url("{{ background_img_url | img_url: 'master' }}");
      background-size: cover;
    }

    @media (max-width: 1200px) {
      .section-{{ section.id }} .first-image-container {
        background-image: url("{{ background_img_url | img_url: 'master' }}");
        background-size: cover;
      }

      .section-{{ section.id }} .feature-row-wrapper {
        background-image: none;
      }
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "How Sprinly Works",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "checkbox",
      "id": "overlap-images",
      "label": "Overlap Images 1 and 2?",
      "default": true
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Image width",
      "default": 700,
      "min": 200,
      "max": 700,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Image on left"
        },
        {
          "value": "right",
          "label": "Image on right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "alt",
      "label": "Use alternate section color"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Steps",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Paragraph"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "[Custom] How Sprinly Works",
      "category": "Custom"
    }
  ]
}
{% endschema %}
