<div class="our-impact--container page-width">
    <div class="our-impact__copy">
        {%- if section.settings.title != blank -%}
            <h3>{{ section.settings.title }}</h3>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
            <ul>
                {%- for block in section.blocks -%}
                    <li>
                        {% include 'check' %}
                        {{ block.settings.title }}
                    </li>
                {%- endfor-%}
            </ul>
        {%- endif -%}
    </div>

    {%- if section.settings.image -%}
        <div class="our-impact__image">
            {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750]"
                    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image_alt }}">
        </div>
    {%- endif -%}
</div>

{% schema %}
{
    "name": "Our Impact",
    "class": "our-impact",
    "settings": [
        {
            "id": "title",
            "label": "Title",
            "type": "text",
            "default": "Our Impact"
        },
        {
            "id": "image",
            "label": "Photo",
            "type": "image_picker"
        }
    ],
    "blocks": [
        {
            "name": "Impact Points",
            "type": "impact-points",
            "settings": [
                {
                    "id": "title",
                    "type": "textarea",
                    "label": "Text"
                }
            ]
        }
    ]
}
{% endschema %}