{%- if section.settings.title -%}
  <div class="section-title text-center page-width">
    <p class="h2">
      {{ section.settings.title }}
    </p>
  </div>
{%- endif -%}
{%- if section.settings.desc -%}
  <div class="section-intro text-center page-width">
      {{ section.settings.desc }}
  </div>
{%- endif -%}

{%- if section.blocks.size > 0 -%}
  <div class="steps-container page-width">
    <div class="steps">
      {%- for block in section.blocks -%}
        <div class="step step-{{ forloop.index }} {% if forloop.first %}step-first{% endif %} {% if forloop.last %}step-last{% endif %} {{ block.settings.img_pos }}">
          {%- if block.settings.image -%}
            <div class="step-img">
              <img class="image{% if block.settings.title %} {{ block.settings.title | handleize }}{% endif %} lazyload"
                  alt="{%- if block.settings.title -%}{{ block.settings.title }}{%- endif -%}"
                  src="{{ block.settings.image }}"
                  data-src="{{ block.settings.image }}" />
            </div>
          {%- endif-%}
          <div class="step-number">
            <div class="step-number--inner">
              <h1>{{ forloop.index }}</h1>
            </div>
          </div>
          <div class="step-border">
            <div class="step-border-top"></div>
            <div class="step-border-bottom"></div>
          </div>
          <div class="step-content text-{{ block.settings.text_alignment }}">
            <div class="step-content--inner">
              {%- if block.settings.title -%}
                <h4>
                  {{ block.settings.title }}
                </h4>
              {%- endif-%}
              {%- if block.settings.made_from -%}
               <p class="step-content--inner__subhead">What are they made from?</p>
                {{ block.settings.made_from }}
              {%- endif-%}
              {%- if block.settings.how_to_dispose -%}
                <p class="step-content--inner__subhead">What should I do with it?</p>
                {{ block.settings.how_to_dispose }}
              {%- endif-%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Sustainability",
  "class": "sustainability",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Sustainability"
    },
    {
        "type": "richtext",
        "id": "desc",
        "label": "Page Intro"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
            "type": "text",
            "id": "image",
            "label": "Image",
            "info": "Upload image to [Settings > Files](/admin/settings/files) and paste the link here. (Cmd+Click or Ctrl+Click to open in new tab)"
        },
        {
          "type": "radio",
          "id": "img_pos",
          "label": "Image Position",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "made_from",
          "label": "What are they made from?",
          "default": "<p>Your description goes here.</p>"
        },
        {
            "type": "richtext",
            "id": "how_to_dispose",
            "label": "What should I do with it?",
            "default": "<p>Your description goes here.</p>"
          },
        {
          "type": "text",
          "id": "cta_title",
          "label": "CTA Title",
          "default": "Get Started"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            { "value": "center", "label": "Centered" },
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        }
      ]
    }
  ]
}
{% endschema %}
